#grid-container{
    display: grid;
    box-sizing: border-box;
    overflow-x: hidden; /*Hindrer scrolling i x aksen*/
    grid-template-areas: "head head head"
                         "nav nav nav"
                         "main main main"
                         "footer footer footer";
   
}
*{
 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
#main{
    grid-area:main;
    display: grid;
    background-color: #DAECF4;
}

#Ny-Ansatt{
    display: grid;
    flex-direction: column;
    gap:10px;
    max-width: 300px;
    padding:20px;
}

.second-title, #filter, #grupper, #Ny-Ansatt{
padding-left: 15%;
}

header{
    grid-area: head;
    background-color: #4A8DB2;
    color: #ffff;
}
#filter, #grupper{
display: flex;
flex-wrap: wrap;
gap:10px;
margin:5px;
    
}
#grupper{
    margin-top:10px;
    margin-bottom:0;
}
.vks{
    margin:0;
}
nav{
    grid-area:nav;
    background-color:#DAECF4;
}

.title{
    display: grid;
    justify-content: center;
    background-color: #4A8DB2;

}


#ansatte{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    padding:1rem;
    margin:1rem;
    justify-content: center;

}
.ansatt-kort{
width: 300px;
justify-content: center;
background-color: white;
border: 2px solid;
border-radius: 10px;;
border-color: #cac8c8;
padding:20px;
margin:15px;

    
}

.delete{
    background-color: #DAECF4;
    border-radius: 5px;
    border-color:#4A8DB2
}
.submit {
    background-color: #DAECF4;
    border-radius: 5px;
    border-color:#4A8DB2;
    padding: 10px;
    width: 40%;
    font-size: 14px;
}

footer{
    grid-area:footer;
    background-color:#DAECF4;
}
button{
        background-color: #DAECF4;
    border-radius: 5px;
    border-color:#4A8DB2;
    padding: 10px;
}

